<div class="__modal_container">
    <div class="__modal_ui">
        <div class="__modal_header">
            <!-- <div class="__modal_icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">fiber_manual_record</mat-icon>
            </div> -->
            <div class="__modal_title">
                <h2>Modal Title</h2>
            </div>
            <div class="__modal_close">
                <mat-icon aria-hidden="false" aria-label="Example close icon">close</mat-icon>
            </div>
        </div>
        <div class="__modal_body">
            <div class="__modal_content">
                <div class="__modal_contentl1">
                    <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon>
                    <p>Are you sure want to delete this product from wishlist?</p>
                </div>
            </div>
        </div>
        <div class="__modal_footer">
            <div class="__modal_btns">
                <button type="submit" class="__form_field __btns __cancelBtn">Cancel</button>
                <button type="submit" class="__form_field __btns __doneBtn">Done</button>
            </div>
        </div>
    </div>
    <div class="__modal_overlay"></div>
</div>