.__navemenu_iconlogo img {
  height: 50px;
  margin-left: 10px;
}

// .__navemenu_iconlogo mat-icon:hover {
//   cursor: pointer;
// }

.nav_layout_one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgb(74 96 118 / 22%);
}

.__navemenu_iconlogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__search_container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__search_container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__search_container .__search_box,
.__search_container1 .__search_box {
  width: 80%;
  padding: 10px 20px;
  border: 1px solid #4a6076;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #4a6076;
}

.__search_container mat-icon,
.__search_container1 mat-icon {
  background: #4a6076;
  padding: 21px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  color: white;
  cursor: pointer;
}

.__cart_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.__cart_container p.__nav_res_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.__cart_container p.__nav_res_menu,
.__cart_container p.__nav_res_menu_show {
  margin: 0;
  padding: 10px;
  color: #4a6076;
  cursor: pointer;
  font-weight: 600;
}

div.__cart_container p {
  margin: 0;
}

.nav_layout_two {
  background: #4a6076;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__pincode_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
}

.__static_menu .__static_menu_ul {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

li.__static_menu_li {
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

li.__static_menu_li:hover {
  padding: 10px 15px;
  cursor: pointer;
  background: #3d5063;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__sidenav_container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  z-index: 5;
}

.__sidenav_overlay {
  position: fixed;
  background: rgb(0 0 0 / 60%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.__sidenav {
  width: 350px;
  background: white;
  height: 100%;
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.__form_field {
  padding: 10px 20px;
  outline: none;
  text-align: center;
  flex: 1;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

input.__form_field:focus {
  box-shadow: 0px 5px 10px #405367;
  width: 320px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

button.__form_field.__btns:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.__loginBtn {
  background-color: #4a6076;
  color: white;
  border: 1px solid white;
  opacity: 0.9;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__loginBtn:hover {
  opacity: 1;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__ya_signin_login p,
.__yl_signin_login p {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.__ya_signin_login p span {
  color: #5c7084;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__ya_signin_login p span:hover {
  color: #5c7084;
  text-decoration: underline;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__ya_menus ul {
  list-style: none;
  width: 100%;
  margin: 0;
}

.__ya_menus ul li {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 5px 10px;
  cursor: pointer;
  color: gray;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__ya_menus ul li:hover {
  color: #4a6076;
  background: #c0eeda;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__ya_menus ul li span {
  margin-left: 10px;
}

.__cart_container p.__nav_res_menu_show {
  display: none;
}

.nav_layout_three {
  display: none;
}

.__sn_header {
  color: white;
  padding: 15px;
  border-bottom: 1px solid rgb(92 112 132 / 19%);
  background: #4a6076;
  box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.__sn_header h2 mat-icon {
  font-size: 30px;
}

.__sn_header h2 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.__sn_header h2 span {
  margin-left: 15px;
  text-transform: capitalize;
}

.__sn_body ul,
.__sn_hd_ul {
  list-style: none;
}

li.__sn_m_li,
.__sn_hd_li {
  padding: 15px;
  font-size: 16px;
  color: #909090;
}

li.__sn_so_li {
  padding: 10px;
  color: #4a6076;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__sn_bd_li {
  padding: 10px;
  color: #4a6076;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

li.__sn_bd_li span {
  margin-left: 15px;
}

li.__sn_so_li:hover,
.__sn_bd_li:hover {
  background-color: #c0eeda;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__sn_body ul.__sn_so_ul,
.__sn_bd_ul {
  margin-top: 15px;
}

// Responsive
@media only screen and (max-width: 1124px) {
  .__search_container {
    width: 45%;
  }
  .__cart_container {
    width: 45%;
  }
}

@media only screen and (max-width: 950px) {
  .__search_container {
    width: 100%;
  }
  .__cart_container {
    width: 35%;
  }
  .__cart_container p.__nav_res_menu {
    display: none;
  }
  .__cart_container p.__nav_res_menu_show {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_layout_two {
    display: none;
  }
  .nav_layout_one {
    box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  }
}

@media only screen and (max-width: 750px) {
  .__search_container {
    display: none;
  }
  .__cart_container {
    width: 100%;
  }
  .__cart_container p.__nav_res_menu {
    display: none;
  }
  .__cart_container p.__nav_res_menu_show {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_layout_two {
    display: none;
  }
  .nav_layout_one {
    box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  }
  // .__nav_res_login {
  //   display: none;
  // }
  .nav_layout_three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(92 112 132 / 19%);
    box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  }
  .nav_layout_one {
    box-shadow: unset;
  }
}

@media only screen and (max-width: 450px) {
  .__search_container {
    display: none;
  }
  .__cart_container {
    width: 100%;
  }
  .__cart_container p.__nav_res_menu {
    display: none;
  }
  .__cart_container p.__nav_res_menu_show {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_layout_two {
    display: none;
  }
  .nav_layout_one {
    box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  }
  .__nav_res_login {
    display: none;
  }
  .nav_layout_three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(92 112 132 / 19%);
    box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  }
  .nav_layout_one {
    box-shadow: unset;
  }
  .__search_container1 .__search_box {
    width: 100%;
  }
  .__sidenav {
    width: 85%;
  }
}

@media only screen and (max-width: 300px) {
  .__search_container {
    display: none;
  }
  .__cart_container {
    width: 100%;
  }
  .__cart_container p.__nav_res_menu {
    display: none;
  }
  .__cart_container p.__nav_res_menu_show {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_layout_two {
    display: none;
  }
  .nav_layout_one {
    box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  }
  .__nav_res_login {
    display: none;
  }
  .nav_layout_three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(92 112 132 / 19%);
    box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  }
  .nav_layout_one {
    box-shadow: unset;
  }
  .__search_container1 .__search_box {
    width: 100%;
  }
  .__sidenav {
    width: 85%;
  }
}
