<div class="__navbar_container">
    <div class="nav_layout_one">
        <div class="__navemenu_iconlogo">
            <button mat-mini-fab color="white" aria-label="Example icon button with a heart icon" (click)="showSidenav = true">
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">{{appConfig.navbarConfig.sidenavIcon}}
                </mat-icon>
            </button>
            <img src="{{appConfig.navbarConfig.appLogo}}" alt="">
        </div>
        <div class="__search_container">
            <input type="text" class="__search_box" spellcheck="false" placeholder="{{defaultLocale.NavSearchboxPlaceholder}}">
            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">{{appConfig.navbarConfig.searchboxIcon}}
            </mat-icon>
        </div>
        <div class="__cart_container">
            <p class="__nav_res_login">
                <button type="submit" (click)="goToLogin()" class="__form_field __btns __loginBtn">{{defaultLocale.NavLoginCaps}}</button>
            </p>
            <p [matMenuTriggerFor]="yourAccount" class="__nav_res_menu">
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">person_pin
                </mat-icon>
                <span>{{defaultLocale.NavYourAccount}}</span>
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">expand_more
                </mat-icon>
            </p>
            <p [matMenuTriggerFor]="yourAccount" class="__nav_res_menu_show">
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">person_pin
                </mat-icon>
            </p>
            <mat-menu #yourAccount="matMenu">
                <div class="__ya_constainer">
                    <div class="__ya_signin_login">
                        <button type="submit" (click)="goToLogin()" class="__form_field __btns __loginBtn">{{defaultLocale.NavLoginCaps}}</button>
                        <p>{{defaultLocale.NotCustomer}} &nbsp; <span (click)="goToRegister()">{{defaultLocale.SignupImmediately}}</span></p>
                    </div>
                    <hr />
                    <div class="__ya_menus">
                        <ul>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">account_circle
                                </mat-icon>
                                <span>{{defaultLocale.NavOptionAccount}}</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">list_alt
                                </mat-icon>
                                <span>{{defaultLocale.NavOptionOrder}}</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">favorite_border
                                </mat-icon>
                                <span>{{defaultLocale.NavOptionWishlist}}</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">card_giftcard
                                </mat-icon>
                                <span>{{defaultLocale.NavOptionRewardsGifts}}</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">monetization_on
                                </mat-icon>
                                <span>{{defaultLocale.NavOptionSellWith}}</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">settings
                                </mat-icon>
                                <span>{{defaultLocale.NavOptionSettings}}</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">get_app
                                </mat-icon>
                                <span>{{defaultLocale.NavOptionDownloadApp}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </mat-menu>
            <!-- <p [matMenuTriggerFor]="yourLanguage">
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">language
                </mat-icon>
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">expand_more
                </mat-icon>
            </p>
            <mat-menu #yourLanguage="matMenu">
                <div class="__yl_constainer">
                    <div class="__yl_signin_login">
                        <button type="submit" class="__form_field __btns __loginBtn">LOGIN</button>
                        <p>Not a customer? &nbsp; <span>Signup immediately</span></p>
                    </div>
                    <hr />
                    <div class="__yl_menus">
                        <ul>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">account_circle
                                </mat-icon>
                                <span>Your Account</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">list_alt
                                </mat-icon>
                                <span>Your Orders</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">favorite_border
                                </mat-icon>
                                <span>Your Wish List</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">card_giftcard
                                </mat-icon>
                                <span>Rewards & Gift Cards</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">monetization_on
                                </mat-icon>
                                <span>Sell With Shoppiiiee</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">settings
                                </mat-icon>
                                <span>Settings</span>
                            </li>
                            <li>
                                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">get_app
                                </mat-icon>
                                <span>Download App</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </mat-menu> -->
            <p class="__nav_res_menu">
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">shopping_cart
                </mat-icon>
                <span>{{defaultLocale.NavYourCart}}</span>
            </p>
            <p class="__nav_res_menu_show">
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">shopping_cart
                </mat-icon>
            </p>
        </div>
    </div>
    <div class="nav_layout_two">
        <div class="__pincode_container">
            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">room
            </mat-icon>
            <span>{{defaultLocale.FindYourAddressHere}}</span>
        </div>
        <div class="__static_menu">
            <ul class="__static_menu_ul">
                <li class="__static_menu_li">
                    Electronics
                </li>
                <li class="__static_menu_li">
                    Home & Furniture
                </li>
                <li class="__static_menu_li">
                    Men
                </li>
                <li class="__static_menu_li">
                    Women
                </li>
                <li class="__static_menu_li">
                    Baby & Kids
                </li>
                <li class="__static_menu_li">
                    Sports & Books
                </li>
                <li class="__static_menu_li">
                    Today's Deals
                </li>
            </ul>
        </div>
    </div>
    <div class="nav_layout_three">
        <div class="__search_container1">
            <input type="text" class="__search_box" spellcheck="false" placeholder="Find your product here">
            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">search
            </mat-icon>
        </div>
    </div>
</div>

<div class="__sidenav_container" *ngIf="showSidenav">
    <div class="__sidenav" [@enter61]>
        <div class="__sn_header">
            <h2>
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">person_pin
                </mat-icon>
                <span>Harry Potter</span>
            </h2>
        </div>
        <div class="__sn_body">
            <ul class="__sn_m_ul">
                <li class="__sn_m_li" *ngFor="let mainItem of sidenavData">
                    <span>{{mainItem.title}}</span>
                    <ul class="__sn_so_ul">
                        <li class="__sn_so_li" *ngFor="let subItem of mainItem.lists">
                            <span>{{subItem.title}}</span>
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right
                            </mat-icon>                            
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr />
        <div class="__sn_footer">
            <ul class="__sn_hd_ul">
                <li class="__sn_hd_li">
                    <span>{{defaultLocale.HelpSettings}}</span>            
                    <ul class="__sn_bd_ul">
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">list_alt
                            </mat-icon>   
                            <span>Your Orders</span>
                        </li>
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">favorite_border
                            </mat-icon> 
                            <span>Your Wish List</span>  
                        </li>
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">account_circle
                            </mat-icon>   
                            <span>Your Account</span>
                        </li>
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">local_offer
                            </mat-icon>   
                            <span>Today's Deals</span>
                        </li>
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">language
                            </mat-icon>   
                            <span>Language</span>
                        </li>
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">settings
                            </mat-icon>   
                            <span>Settings</span>
                        </li>
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">headset_mic
                            </mat-icon>   
                            <span>Help & Support</span>
                        </li>
                        <li class="__sn_bd_li">
                            <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">get_app
                            </mat-icon>   
                            <span>Download App</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="__sidenav_overlay" (click)="showSidenav = false"></div>
</div>