<app-top-navbar></app-top-navbar>
<div class="__products_container">
    <div class="__products_path_container">
        <div class="__products_result_count">
            <p>1-48 of over 50,000 results for "t-shirts"</p>
        </div>
        <div class="__products_sortby">
            <p [matMenuTriggerFor]="yourAccount" class="__nav_res_menu_show">
                <span>{{selectedSortByValue.name }}</span>
                <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">expand_more
                </mat-icon>
            </p>
            <mat-menu #yourAccount="matMenu">
                <div class="__ya_constainer">
                    <div class="__ya_menus">
                        <ul>
                            <li *ngFor="let item of sortByValueList" (click)="selectedSortByValue = item">
                                <!-- <mat-icon class="__delete_forever" aria-hidden="false" aria-label="Example home icon">account_circle
                                </mat-icon> -->
                                <span>{{item.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </mat-menu>
            <!-- <select name="" id="">
                <option value="" *ngFor="let item of sortByValueList">{{item.name}}</option>
            </select> -->
        </div>
    </div>
    <div class="__products_list_container">
        <div class="__products_left_container">
            <div class="__products_filter_container" *ngFor="let filter of filterListData">
                <h3>{{filter.filterTitle}}</h3>
                <div class="__filters">
                    <ul class="__filter_text" *ngIf="filter.filterType === 'text'">
                        <li *ngFor="let filterItem of filter.filterList">
                            <span>{{filterItem.filterTitle}}</span>
                        </li>
                    </ul>
                    <ul class="__filter_check" *ngIf="filter.filterType === 'check'">
                        <li *ngFor="let filterItem of filter.filterList">
                            <!-- <span>{{filterItem.filterTitle}}</span> -->
                            <section class="example-section">
                                <mat-checkbox class="example-margin">{{filterItem.filterTitle}}</mat-checkbox>
                            </section>
                        </li>
                    </ul>
                    <ul class="__filter_star" *ngIf="filter.filterType === 'star'">
                        <li *ngFor="let filterItem of filter.filterList">
                            <bar-rating [(rate)]="filterItem.filterTitle" [max]="5" [theme]="'stars'"></bar-rating>
                            <span>&nbsp;&nbsp; & above</span>
                        </li>
                    </ul>
                    <ul class="__filter_price" *ngIf="filter.filterType === 'price'">
                        <li *ngFor="let filterItem of filter.filterList">
                            <span>{{filterItem.filterTitle}}</span>
                        </li>
                        <div class="__price_container">
                            <input type="number" placeholder="₹ Min" class="__minmax">
                            <input type="number" placeholder="₹ Max" class="__minmax">
                            <button type="submit">Go</button>
                        </div>
                    </ul>
                    <ul class="__filter_color" *ngIf="filter.filterType === 'color'">
                        <li *ngFor="let filterItem of filter.filterList">
                            <span [ngStyle]="{'background-color': filterItem.filterTitle}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="__products_right_container">
            <div class="__products_item_container">
                <mat-card *ngFor="let item of itemList.products; let ind=index">
                    <div class="__product_item" *ngFor="let imageList of item.images; let ind=index">
                        <ng-container *ngIf="item.currentDisplayIndex === imageList.imageIndex">
                            <img src="{{imageList.url}}" alt="">
                            <div class="__product_actions">
                                <mat-icon (click)="previousSlider(item)" class="__delete_forever" aria-hidden="false"
                                    aria-label="Example home icon">keyboard_arrow_left
                                </mat-icon>
                                <div class="__indicator_section">
                                    <span *ngFor="let imageList of item.images; let ind=index"
                                        class="__product_indicator"
                                        [ngClass]="{'__indicator_active': item.currentDisplayIndex === imageList.imageIndex }"></span>
                                </div>
                                <mat-icon (click)="nextSlider(item)" class="__delete_forever" aria-hidden="false"
                                    aria-label="Example home icon">keyboard_arrow_right
                                </mat-icon>
                            </div>
                        </ng-container>
                    </div>
                    <div class="__product_details">
                        <h3 class="__brand_name">{{item.brand}}</h3>
                        <p class="__product_name">{{item.productName}}</p>
                        <p class="__product_ratings">
                            <!-- <span>{{item.productRating}}</span> -->
                            <!-- [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']" -->
                            <bar-rating [(rate)]="item.productRating" [max]="5" [theme]="'stars'"></bar-rating>
                        </p>
                        <div class="__product_size">
                            <span *ngFor="let size of item.size">{{size}}</span>
                        </div>
                        <div class="__product_price">
                            <h3 class="__current_price"><sup>&#x20B9;</sup> {{item.currentPrice}}</h3>
                            <p class="__past_price"><sup>&#x20B9;</sup> <del>{{item.pastPrice}}</del></p>
                            <p class="__product_discount">{{item.discount}} OFF</p>
                        </div>
                        <div class="__wishlist_container">
                            <mat-icon *ngIf="!item.isInWishlist" (click)="item.isInWishlist = !item.isInWishlist" class="__delete_forever" aria-hidden="false" aria-label="Example home icon">favorite_border
                            </mat-icon>
                            <mat-icon *ngIf="item.isInWishlist" (click)="item.isInWishlist = !item.isInWishlist" class="__delete_forever" aria-hidden="false" aria-label="Example home icon">favorite
                            </mat-icon>
                        </div>
                    </div>
                </mat-card>

            </div>
        </div>
    </div>
</div>