.__products_path_container {
  display: flex;
  box-shadow: 0px 3px 5px rgb(109 109 109 / 21%);
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.__products_result_count p {
  margin: 0;
  color: #4a6076;
  cursor: default;
}

.__products_sortby select {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #4a6076;
  color: #4a6076;
  outline: none;
}

.__ya_menus ul {
  list-style: none;
  width: 100%;
  margin: 0;
}

.__ya_menus ul li {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 5px 10px;
  cursor: pointer;
  color: gray;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__ya_menus ul li:hover {
  color: #4a6076;
  background: #c0eeda;
  font-weight: 600;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__nav_res_menu_show {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  border: 1px solid #4a6076;
  border-radius: 50px;
  color: #4a6076;
  cursor: pointer;
}

.__products_list_container {
  display: flex;
}

.__products_left_container {
  width: 330px;
}

.__products_right_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.__products_item_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}

.__product_item img {
  height: 310px;
  width: 100%;
}

.__products_item_container mat-card {
  margin-bottom: 20px;
  padding: 5px;
  min-width: 258px;
  width: 23%;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__product_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.__product_indicator {
  padding: 3px;
  background-color: #c2f0dc;
  border-radius: 50px;
  margin: 0 3px;
  border: 1px solid #c2f0dc;
}

span.__indicator_active {
  background-color: #c2f0dc;
  border: 1px solid #4a6076;
}

.__indicator_section {
  display: flex;
  align-items: center;
}

.__product_actions mat-icon {
  cursor: pointer;
  background-color: transparent;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__product_actions mat-icon:hover {
  cursor: pointer;
  background-color: #4a6076;
  border-radius: 50px;
  color: #c2f0dc;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__product_details p,
.__product_details h3,
.__product_details span {
  margin: 0;
}

.__product_details {
  padding: 5px;
  border-top: 1px solid #e6e6e6;
}

h3.__brand_name {
  font-weight: 500;
  color: #4a6076;
}

p.__product_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.__product_size {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.__product_size span {
  width: 40px;
  height: 40px;
  border: 1px solid #4a6076;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  color: #4a6076;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__product_size span:hover {
  background: #c2f0dc;
  font-weight: 700;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__product_price {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #e6e6e6;
}

h3.__current_price {
  font-weight: 600;
  color: #4a6076;
}

p.__past_price {
  opacity: 0.6;
}

p.__product_discount {
  font-size: 12px;
  color: white;
  padding: 3px 10px;
  background: #4a6076;
  border-radius: 0 50px 50px 0;
  position: absolute;
  left: 0;
  top: 0;
}

.__products_item_container mat-card:hover {
  box-shadow: 0px 8px 15px -1px rgba(0, 0, 0, 0.2),
    3px 3px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__wishlist_container {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #4a6076;
  padding: 5px;
  cursor: pointer;
}

.__products_left_container {
  padding: 15px;
  border: 1px solid rgb(74 96 118 / 15%);
  box-shadow: 1px 3px 5px rgb(74 96 118 / 22%);
}

.__products_left_container ul {
  list-style: none;
}

.__products_filter_container h3 {
  text-transform: uppercase;
  color: #4a6076;
  border-bottom: 1px solid #dcdcdca3;
  margin: 0;
}

.__filters ul li {
  color: #464646;
}

ul.__filter_text li,
ul.__filter_price li {
  cursor: pointer;
  padding: 5px;
}

ul.__filter_text li:hover,
ul.__filter_price li:hover {
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
}

ul.__filter_star li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.__price_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.__price_container input {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
}

.__price_container button {
  width: 60px;
  padding: 5px;
  border: 1px solid #4a6076;
  background-color: #4a6076;
  color: white;
  border-radius: 2px;
}

ul.__filter_color {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 15px;
  position: relative;
  flex-wrap: wrap;
}

ul.__filter_color li {
  margin-bottom: 15px;
}

ul.__filter_color li span {
  padding: 5px 15px;
  border: 1px solid #d2d2d2;
  margin-right: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .__products_left_container {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  .__products_item_container mat-card {
    min-width: 280px;
    width: 30%;
  }
}

@media only screen and (max-width: 590px) {
  .__products_item_container mat-card {
    min-width: 250px;
    width: 46%;
  }
}

@media only screen and (max-width: 540px) {
  .__products_item_container mat-card {
    min-width: 230px;
    width: 46%;
  }
}

@media only screen and (max-width: 500px) {
  .__products_item_container mat-card {
    min-width: 230px;
    width: 45%;
  }
  .__product_item img {
    height: 220px;
    width: unset;
  }
  .__product_item {
    text-align: center;
  }
  .__product_size span {
    width: 30px;
    height: 30px;
  }
  .__products_result_count {
    display: none;
  }
  .__products_path_container {
    justify-content: flex-end;
  }
  .__product_ratings {
    display: none;
  }
  .__product_size {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 470px) {
  .__products_item_container mat-card {
    min-width: 200px;
    width: 45%;
  }
  .__product_item img {
    height: 220px;
    width: "100%";
  }
  .__product_item {
    text-align: center;
  }
  .__product_size span {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 410px) {
  .__products_item_container mat-card {
    min-width: 160px;
    width: 48%;
  }
  .__product_item img {
    height: 220px;
    width: "100%";
  }
  .__product_item {
    text-align: center;
  }
  .__product_size span {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 370px) {
  .__products_item_container mat-card {
    min-width: 160px;
    width: 48%;
  }
  .__product_item img {
    height: 190px;
    width: "100%";
  }
  .__product_item {
    text-align: center;
  }
  .__product_size span {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 335px) {
  .__products_item_container mat-card {
    min-width: 160px;
    width: 90%;
  }
  .__product_item img {
    height: 310px;
    width: "100%";
  }
  .__product_item {
    text-align: center;
  }
  .__product_size span {
    width: 40px;
    height: 40px;
  }
}
