@import "~ngx-bar-rating/themes/br-stars-theme";
/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  // cursor: default;
}
html,
body {
  height: 100%;
}

button,
input {
  outline: none !important;
}

.mat-menu-panel {
  background: #ffffff;
  border: 1px solid rgb(74 96 118 / 48%);
}

.mat-menu-content:not(:empty),
.mat-menu-content {
  padding: 15px !important;
}

.mat-card {
  background: #ffffff;
  color: #000;
}

.br-stars .br-unit {
  width: 13px;
  height: 13px;
}

.mat-checkbox-frame {
  border-color: rgb(74 96 118);
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.mat-checkbox-checkmark-path {
  stroke: #4a6076 !important;
}

.mat-checkbox-checkmark-path {
  stroke-dashoffset: 22.910259;
  stroke-dasharray: 22.9;
  stroke-width: 3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
