/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  // cursor: default;
}
html,
body {
  height: 100%;
}

button,
input {
  outline: none !important;
}

.mat-menu-panel {
  background: #ffffff;
  border: 1px solid rgb(74 96 118 / 48%);
}

.mat-menu-content:not(:empty),
.mat-menu-content {
  padding: 15px !important;
}

.mat-card {
  background: #ffffff;
  color: #000;
}
