<app-top-navbar></app-top-navbar>

<div class="__carts_container">
    <div class="__carts_box" *ngIf="itemList.addresses.length === 0">
        <div class="__carts_image">
            <img src="../../../assets/images/empty-cart.png" alt="" />
        </div>
        <div class="__carts_text">
            <h2>Your cart is empty now!</h2>
            <p>Fill your cart with desired products.</p>
        </div>
        <div class="__carts_actions">
            <button>Continue Shopping</button>
        </div>
    </div>
    <div class="__cart_details" *ngIf="itemList.addresses.length !== 0">
        <div class="__cart_lists">
            <div class="__lists_title">
                <p>Your Address ({{itemList.addresses.length}})</p>
            </div>
            <div class="__list_address">
                <div class="__addresses" *ngFor="let item of itemList.addresses">
                    <h3>{{item.name}}</h3>
                    <p>Phone No: {{item.mobileNumber}}</p>
                    <p>{{item.addressLineOne}}</p>
                    <p>{{item.addressLineTwo}}</p>
                    <p>{{item.city}} - {{item.pinCode}}.</p>
                    <p>{{item.landmark}}</p>
                    <p>{{item.state}}.</p>
                    <div class="__address_identity">
                        <img title="Your billing address" src="../../../assets/images/billingAddress.png" alt="">
                        <img title="Your shipping address" src="../../../assets/images/shippingAddress.png" alt="">
                    </div>
                </div>
                <div class="__addresses __addnew_address">
                    <img src="../../../assets/images/addAddress.png" alt="">
                </div>
            </div>
        </div>
        <div class="__cart_price">
            <div class="__proceedToPayAction">
                <button (click)="goToCheckout()">Proceed to Buy</button>
            </div>
            <div class="__price_container">
                <div class="__price_title">
                    <p>SUMMARY</p>
                </div>
                <div class="__prices">
                    <div class="__price_ui"  *ngFor="let price of itemList.priceDetails">
                        <span [ngClass]="{'__textSmall': price.displaySize === 1, '__textBold': price.displaySize === 2 }">{{price.title}}</span>
                        <span [ngClass]="{'__textSmall': price.displaySize === 1, '__textBold': price.displaySize === 2 }"><sup>&#x20B9;</sup> {{price.totalAmount}}</span>
                    </div>
                </div>
            </div>
            <div class="__proceedToPayAction">
                <button (click)="goToCheckout()">Proceed to Buy</button>
            </div>
        </div>
    </div>
</div>