// c2f0dc - Ligth Green
// 4a6076 - Dark Blue
// common values
$centerValue: center;
$autoValue: auto;

// flex values
$flexValue: flex;
$columnValue: column;

// pixel values
$Pix1Value: 1px;
$Pix2Value: 2px;
$Pix3Value: 3px;
$Pix4Value: 4px;
$Pix5Value: 5px;
$Pix6Value: 6px;
$Pix7Value: 7px;
$Pix8Value: 8px;
$Pix9Value: 9px;
$Pix10Value: 10px;
$Pix15Value: 15px;
$Pix20Value: 20px;
$Pix25Value: 25px;
$Pix30Value: 30px;
$Pix40Value: 40px;
$Pix50Value: 50px;
$Pix75Value: 75px;
$Pix100Value: 100px;

// percentage values
$Percent1Value: 1%;
$Percent2Value: 2%;
$Percent3Value: 3%;
$Percent4Value: 4%;
$Percent5Value: 5%;
$Percent6Value: 6%;
$Percent7Value: 7%;
$Percent8Value: 8%;
$Percent9Value: 9%;
$Percent10Value: 10%;
$Percent15Value: 15%;
$Percent20Value: 20%;
$Percent25Value: 25%;
$Percent30Value: 30%;
$Percent40Value: 40%;
$Percent50Value: 50%;
$Percent75Value: 75%;
$Percent100Value: 100%;

// colors
$baseAppColor: #4a6076;
$whiteValue: #fff;
$loginWhiteTransparent: rgb(255 255 255 / 12%);

.__login_layout {
  background-color: $baseAppColor;
  height: $Percent100Value;
  display: $flexValue;
  background-image: url("../../../assets/images/ShoppiiieeBI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

// .__Login_logo {

// }

.__login_reg_container {
  min-width: $Pix100Value + $Pix100Value + $Pix100Value;
  width: $Pix100Value + $Pix100Value + $Pix100Value + $Pix75Value;
  margin: $autoValue;
  background-color: $loginWhiteTransparent;
  border-radius: $Pix5Value;
  align-items: $centerValue;
  display: $flexValue;
  justify-content: $centerValue;
  flex-direction: $columnValue;
  padding: 20px;
  color: #c2f0dc;
  box-shadow: 5px 5px 5px #405367;
}

.__form_container {
  align-items: $centerValue;
  display: $flexValue;
  justify-content: $centerValue;
  flex-direction: $columnValue;
}

.__form_field {
  width: 300px;
  padding: 15px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid #c2f0dc;
  box-shadow: 0px 3px 5px #405367;
  margin-bottom: 10px;
  color: #4a6076;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.__forgot_remember {
  width: 300px;
}

.__forgot_remember p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 5px 0;
}

.__or_seperator {
  opacity: 0.5;
  padding: 5px 5px;
}

.__social_login_container {
  text-align: center;
}

img.__social_login {
  height: 35px;
  margin: 0 10px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

img.__social_login:hover {
  cursor: pointer;
  transform: scale(1.3);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

img.__social_login.__google {
  background-color: white;
  border-radius: 100px;
  padding: 6px;
}

.__remember_container {
  display: flex;
  align-items: center;
}

span.__remember_container span {
  margin: 0 2px;
  padding: 3px 0;
}

.__no_account_container {
  width: 300px;
  text-align: center;
}

input.__form_field:focus {
  box-shadow: 0px 5px 10px #405367;
  width: 320px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

button.__form_field.__form_submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button.__form_submit {
  width: 300px;
  padding: 15px;
  border-radius: 100px;
  background-color: #4a6076;
  border: 1px solid #405367;
  box-shadow: 0px 3px 5px #405367;
  margin-bottom: 10px;
  color: #c2f0dc;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.__error_message {
  width: 256px;
  font-size: 12px;
  color: yellow;
  text-align: center;
}

.__hoverUnderline:hover {
  cursor: pointer;
  text-decoration: underline;
}

// .__showBorderError {
//   border: 1px solid red;
//   -moz-box-shadow: inset 0 0 10px #ff0000;
//   -webkit-box-shadow: inset 0 0 10px #ff0000;
//   box-shadow: inset 0 0 10px #ff0000;
// }

@media only screen and (max-width: 400px) {
  .__login_reg_container {
    width: 95%;
  }
}
